#image-sub-container {
    height:180px;
    width: 90%;
    margin: 0 auto 50px;
    border:10px;
    white-space: nowrap;
    overflow-y:hidden;
}

#titulo-imagem-container{
    text-align: center
}

#titulo-imagem{
    margin-top: 0;
}
    
.div-image{
    margin:2px;
    display: inline-block;
    overflow:hidden;
    margin-left:8px;
    vertical-align:middle;
}

.image-workart{
    width: auto; 
    height: 144px;
}