#image-container {
    height:150px;
    width: 90%;
    margin: auto;
    padding: 10px;
    border:10px;
    white-space: nowrap;
    overflow-y:hidden;
}
    
.div-image{
    margin:2px;
    display: inline-block;
    overflow:hidden;
    margin-left:8px;
    vertical-align:middle;
}

.image-workart{
    width: auto; 
    height: 144px;
}